*{
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
}
.row__poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}
.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row__poster:hover {
 transform: scale(1.08);
}
.row__posters::-webkit-scrollbar {
    display: none;
}
.h2 {
    color: white;
    padding: 10px;
}
.row__posterlarge {
    max-height: 250px;
}
.row__posterslarge:hover {
    transform: scale(1.09);
}
.banner__img {
background-image: url(images/banner.jpg);
background-position: center;
background-size: cover;
object-fit: contain;
height: 448px;
color: white;
}
.banner__contanier {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}
.banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.banner__descripsion {
    padding-top: 10px;
    font-size: 20px;
}
.banner__button {
color: white;
background-color: #dc3545;
padding: 8px 8px;
text-decoration: none;
border-radius: 4px;
font-size: 20px;
padding-left: 15px;
padding-right: 15px;
}
.banner__button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.banned__fadebutton {
    margin-top: 145px;
    height: 7.4rem;
    background-image: linear-gradient(180deg , transparent , rgba(37,37,37, 0.61), #111);
}
.logo {
    width: 100px;
    object-fit: contain;
    text-decoration: none;
    color: #dc3545;
    font-weight: 700;
    font-size: 29px;
}
.menu {
    width: 30px;
    object-fit: contain;
}
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.nav {
    background-color: #111;
}
.nav__br {
    background-color: white;
    padding: 20px;
}

.h3 {
    color: #111;
}
.a {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
        display: inline-block;
        text-decoration: none;
        font-weight: 400;
        text-align: center;
        border-radius: 20px; 
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color .15s
    }
    .about {
        background-image: url(images/background.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 27px;
        margin-bottom: 5%;
        margin-top: 6%;
    }
    .about h1 {
        color: white;
        margin-top: 9%;
        margin-bottom: 3%;
        line-height: 2.5rem;
    }
    .about a {
        font-size: large;
        color: white;
        background-color: #dc3545;
        padding: 8px 7px 8px 7px;
        text-decoration: none;
        border-radius: 4px;
    }

.main__button {
color: white;
background-color: #dc3545;
padding: 6px 6px;
text-decoration: none;
border-radius: 4px;
font-size: 20px;
padding-left: 15px;
padding-right: 15px;
left: 100%;
}
.app {
    background-image: url(images/liveChannels-bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.app__img h1 {
    text-align: center;
    color: white;
    font-size: 27px;
    margin-top: 9px;
}
.children {
    background-image: url(images/children.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.children h1 {
 color: #fff;
 text-align: center;
 margin-top: 5%;
 margin-bottom: 3%;
}
.x {
margin-top: 15%;
}
.y {
margin-bottom: 3%;
}

     @media (max-width:472px){
            .spece {
                margin-bottom: 30%;
                }
     }
     
     @media (max-width:650px){
        .about h1 {
            font-size: 23px;
            }
 }
    @media (max-width:474px){
      .about h1 {
        font-size: 22px;
        }
}
@media (max-width:886px){
    .app__img h1 {
      font-size: 22px;
      }
}
@media (max-width:734px){
    .app__img h1 {
      font-size: 19px;
      }
}
@media (max-width:586px){
    .children h1 {
      font-size: 22px;
      }
}





        
